body {
    margin: 0;
}

.container {
    height: 80vh;
    position: relative;
}



.card {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.3em;
    overflow: hidden;
    border: 1px solid rgb(255, 255, 255, 0.5);
    box-shadow: 0 0 1em 0.5em rgb(0, 0, 0, 0.2);
}

.card img {
    display: block;
    width: 100%;
    height: auto;
}

.container:nth-child(1) {
    background: linear-gradient(90deg, rgba(51,44,173,1) 0%, rgba(32,142,208,1) 50%, rgba(0,195,134,1) 100%);
}

.container:nth-child(2) {
    background: linear-gradient(90deg, rgba(153,2,89,1) 0%, rgba(171,0,78,1) 0%, rgba(247,137,0,1) 100%);
}

.card .inner-shadow {
    display: block;
    background: rgb(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 1em 0.5em rgb(0, 0, 0, 0.5) inset;
    opacity: 1;
    transition: opacity 0.3s ease-in;
}

.card:hover .inner-shadow {
    opacity: 0;
}