* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 2em;
}

.container {
    display: flex;
    max-width: 65vw;
}

section {
    display: flex;
    flex-wrap: wrap;
}

span {
    border: 1px solid black;
    text-align: center;
    flex-grow: 1;
    padding: 0.5em;
    padding-bottom: 2em;
}

section.notes {
    flex-direction: column;
    
}

section.week span:nth-child(1),
section.week span:nth-child(7) {
    flex-basis: 100%;
    padding-bottom: 3em;
}
