<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head}"></head>

<body>

<div th:replace="~{fragments/navbar}">
    Navbar
</div>

<div class="container-fluid">
    <h2 class="text-center text-white mt-5">
        The car you are looking for is not found!
    </h2>
    <h4 class="text-center text-white mt-5">We are very sorry!</h4>
    <div class="text-center">
        <img class="align-content-center" th:src="@{/images/broken-car.png}" alt="Broken car">
    </div>
    </br>
    <a th:href="@{/}">Go to home page</a>
</div>

<div>
    <footer></footer>
</div>

</body>
</html>
