<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}"></head>

<body>
<!--<div class="wrapper">-->
<!-- Navigation -->
<header th:replace="~{fragments/navbar}"></header>

<!-- Top Container -->
<div class="row justify-content-center ">
    <form id="add-route-form" class="w-50 rounded text-white mt-5"
          th:action="@{/routes/add}"
          th:method="POST"
          th:object="${routeDTO}"
          enctype="multipart/form-data">
        <h3 class="border-left border-light pl-2">Add a new route</h3>
        <div>
            <div class="form-group">
                <label for="inputName" class="col-form-label ">Name</label>
            </div>
            <div class="form-group">
                <input name="name"
                       th:field="*{name}"
                       th:errorclass="is-invalid"
                       required minlength="5" maxlength="20"
                       type="text"
                       id="inputName"
                       class="form-control"
                       aria-describedby="inputNameError">
                <small id="inputNameError"
                       class="invalid-feedback bg-danger rounded">Name length must be more than 3 characters</small>

            </div>
        </div>

        <div>
            <div class="form-group">
                <label for="inputDescription" class="col-form-label ">Description</label>
            </div>
            <div class="form-group">
                    <textarea name="description"
                              th:field="*{description}"
                              th:errorclass="is-invalid"
                              required minlength="5"
                              id="inputDescription"
                              class="form-control"
                              aria-describedby="inputDescriptionError"></textarea>
                <small id="inputDescriptionError"
                       class="invalid-feedback  form-text bg-danger rounded">Description length must be more than 5
                    characters</small>
            </div>
        </div>

        <div>
            <div class="form-group">
                <label for="inputGpx" class="col-form-label ">GPX Coordinates</label>
            </div>
            <div class="form-group">
                <!--It should be type:file to get the upload file button-->
                <input th:type="files"
                       name="gpxCoordinates"
                       th:errorclass="is-invalid"
                       id="inputGpx"
                       class="form-control-file"
                       aria-describedby="inputGpxError">
                <small id="inputGpxError"
                       class="invalid-feedback  form-text bg-danger rounded">Must be valid GPX Coordinates</small>
            </div>
        </div>
        <div>
            <div class="form-group">
                <label for="level">Level</label>
                <select id="level"
                        class="custom-select"
                        name="level"
                        th:field="*{level}"
                        th:errorclass="is-invalid">
                    <option value="" selected>Select level</option>
                    <option value="BEGINNER" th:text="BEGINNER">BEGINNER</option>
                    <option value="INTERMEDIATE" th:text="INTERMEDIATE">INTERMEDIATE</option>
                    <option value="ADVANCED" th:text="ADVANCED">ADVANCED</option>
                </select>
            </div>
        </div>
        <div>

            <div class="form-group">
                <label for="videoUrl">Video Url (only last eleven characters from Youtube)</label>
                <input id="videoUrl"
                       name="videoUrl"
                       th:field="*{videoUrl}"
                       th:errorclass="is-invalid"
                       type="text"
                       class="form-control" placeholder="Video url">
            </div>
        </div>

        <div>
            <div class="form-group p-3">
                <label class="p-2" for="categories">Categories:</label>
                <input class="m-3" type="checkbox" name="categories" id="categories" required
                       th:value="PEDESTRIAN" th:text="PEDESTRIAN">
                <br>
            </div>
        </div>

        <div class="d-flex justify-content-center mt-4">
            <button class="btn btn-primary btn-block w-50" type="submit">Add Route</button>
        </div>

    </form>
</div>
<footer class="footer bg-blur rounded">
    <div class="container-fluid text-center">
        <div class="h5 text-white">
            &copy; Lucho, Chocho & Spring Advanced Students 2021. All rights reserved.
        </div>
    </div>
</footer>
</body>
</html>
