<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}"></head>

<body>
<div class="wrapper">
    <!-- Navigation -->
    <header th:replace="~{fragments/navbar}"></header>

    <section class="road" th:each="route : ${routes}">
        <h2 th:text="${route.getName()}">Title</h2>
        <p th:text="${route.getDescription()}">Very long description</p>
        <a th:href="@{'/routes/details/{id}'(id = ${route.getId()})}" class="btn">Learn More</a>
        <div th:if="${!route.getPictures().isEmpty()}">
            <img class="rounded-circle w-75 ml-5" th:src="${route.getPictures()[0].getUrl()}" alt="Title image">
        </div>
    </section>
</div>
<!-- Wrapper Ends -->
</body>
<footer class="footer bg-blur rounded">
    <div class="container-fluid text-center">
        <div class="h5 text-white">
            &copy; Lucho, Chocho & Spring Advanced Students 2021. All rights reserved.
        </div>
    </div>
</footer>
</html>