<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:include="~{fragments/head}"/>

<body>
<div class="wrapper">
    <!-- Navigation -->
    <th:block th:include="~{fragments/navbar}"/>

    <section class="road" th:each="route : ${routes}">
        <div th:if="${route.getPictureUrl() != null}">
        <img class="pictures" th:src="${route.getPictureUrl()}" alt="Title image">
        </div>
        <div>
            <h2><span th:text="${route.getName()}"></span></h2>
            <p><span th:text="${route.getDescription()}"></span></p>
            <a th:href="@{'/routes/details/{id}'(id = ${route.getId()})}" class="btn">Learn More</a>
        </div>
    </section>
</div>
<!-- Wrapper Ends -->
</body>

<th:block th:include="~{fragments/footer}"/>

</html>