<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}"></head>

<body>
<div class="wrapper">
    <!-- Navigation -->
    <header th:replace="~{fragments/navbar}"></header>

    <section class="road" th:each="route : ${routes}">
        <div th:if="${!route.getPictures().isEmpty()}">
        <img th:src="${route.getPictures()[0].getUrl().toString()}" alt="Title image">
        </div>
        <div>
            <h2><span th:text="${route.getName()}"></span></h2>
            <p><span th:text="${route.getDescription()}"></span></p>
            <a th:href="@{'/routes/details/{id}'(id = ${route.getId()})}" class="btn">Learn More</a>
        </div>
    </section>
</div>
<!-- Wrapper Ends -->
</body>
<footer class="footer bg-blur rounded">
    <div class="container-fluid text-center">
        <div class="h5 text-white">
            &copy; Lucho, Chocho & Spring Advanced Students 2021. All rights reserved.
        </div>
    </div>
</footer>
</html>