@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Raleway:wght@100&display=swap");

body {
  margin: 3em;
}

article {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2 {
  font-family: "Great Vibes", cursive;
  line-height: 1.2;
  font-weight: bold;
}

ul {
  list-style: square;
}

ul ul {
  list-style: disc;
}

ul ul ul {
  list-style: circle;
}
