<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<nav class="main-nav">
    <ul>
        <li>
            <a th:href="@{/}">Home</a>
        </li>
        <li>
            <a th:href="@{/user/login}">Login</a>
        </li>
        <li>
            <a th:href="@{/user/register}">Register</a>
        </li>
        <li>
            <a th:href="@{/about}">About</a>
        </li>
        <li>
            <a th:href="@{/add-route}">Add new route</a>
        </li>
        <li>
            <a th:href="@{/profile}">Profile</a>
        </li>
        <li>
            <a th:href="@{/admin}">Admin</a>
        </li>
        <li>
            <a th:href="@{/logout}">Logout</a>
        </li>
    </ul>
</nav>
</body>
</html>