<header>
    <nav class="main-nav">
        <ul>
            <li th:if="${@currentUser.isAnonymous()}">
                <a th:href="@{/}">Home</a>
            </li>
            <li th:if="${@currentUser.isAnonymous()}">
                <a th:href="@{/user/login}">Login</a>
            </li>
            <li th:if="${@currentUser.isAnonymous()}">
                <a th:href="@{/user/register}">Register</a>
            </li>
            <li th:if="${@currentUser.isAnonymous()}">
                <a th:href="@{/about}">About</a>
            </li>
            <li th:if="${!@currentUser.isAnonymous()}">
                <a th:href="@{/routes/add}">Add new route</a>
            </li>
            <li th:if="${!@currentUser.isAnonymous()}">
                <a th:href="@{/user/profile}">Profile</a>
            </li>
            <li th:if="${!@currentUser.isUserAdmin()}">
                <a th:href="@{/admin}">Admin</a>
            </li>
            <li th:if="${!@currentUser.isAnonymous()}">
                <a th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </nav>
</header>