@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
}

body, table, input, option, select {
  font: inherit;
}