* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0.5em;
}

h1 {
    display: block;
    position: absolute;
    top: 80px;
    left: 180px;
    color: antiquewhite;
    text-shadow: 1px 1px 20px black;
}