* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 2em;
}

p {
    margin: 0;
}

.list-container {
    border: 2px solid black;
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em
}

.list-container::after,
.list-container::before {
    display: block;
    content: '';
    flex-basis: 33%;
    flex-grow: 1;
    flex-shrink: 1;
    order: 1000;
}

article {
    border: 2px solid red;
    padding: 1em;
    flex-basis: 250px;
    flex-grow: 1;
    flex-shrink: 1;
}

article header {
    color: red;
}

